
<!-- view all trips -->



<main>
  <% if @trips %>
  <h1> All Trips </h2>
    <% @trips.each do |trip| %>
      <div class="trip_details">
        <h3> Trip Name: <%= trip.trip_name %> </h3>
        <h4> Origin: <span class="origin"><%= trip.origin %></span></h4>
        <h4> Destination: <span class="destination"><%= trip.destination %></span></h4>
        <h4> Departure Date & Time: <%= trip.depart_time %> </h4>
        <h4> Text will be sent at: <%= trip.reminder_time %> </h4>
        <h4> Reminder set to: <%= trip.reminder_minutes %> minutes prior to departure </h4>
        <input type="button" value="Click to send text now">
      </div>
    <% end %>
  <% else %>
    <h1> Something went wrong </h1>
  <% end %>
</main>


<!-- LOAD MAPQUEST API and helper script -->

  <script src="http://www.mapquestapi.com/sdk/js/v7.2.s/mqa.toolkit.js?key=Fmjtd%7Cluurn10y29%2C72%3Do5-9wywgf"></script>


  <script src="/js/initialize_mapquest_sdk.js"></script>


<!-- Hidden until map is requested -->
<div id="dark_page"></div>

<!-- Generate Map and Travel Time.  Hidden until requested -->
<div class="map_container">
    <div id="map"></div>
    <div id="route-results"></div>

    <div id="no_traffic"></div>
    <div id="traffic"></div>

    <div id="address"></div>

</div>


